[2019-04-15 11:12] ShadyMedic opened #14 "Přidat na stránky footer odkazující na toto úložiště"
Půjde tak snáze nahlašovat chyby, navrhovat změny a popřípadě i získávat další programátory a testery.

[2019-04-15 11:17] ShadyMedic opened #15 "Přidat systém registrace uživatelů"
Bylo by to podle mně lepší, protože by nebylo třeba ukládat IP adresy, což může být někdy  narušení soukromí, nebylo by nutné zadávat ověřovací kód více než jednou a dalo by se nastavit spousta věcí pro jednotlivé uživatele.
Například by se daly dělat vlastrní poznávačky spojováním již zadaných živočichů do vlastních skupin, mohlo by se přidat něco jako karma, která by se zvyšovala s každým nahran

[2019-04-15 14:44] ShadyMedic opened #16 "Více obrázků najednou."
Přidal bych možnost nahrát více obrázků stejného živočicha najednou. Protože se po každém nahrání formulář zresetuje, je přidávání po jednom docela pomalé.

[2019-04-15 19:38] ShadyMedic commented on #14
Footer byl přidán. Čeká se na úpravu obsahu.

[2019-04-16 15:40] ShadyMedic commented on #16
Nakonec jsem to udělal tak, že se formulář nezresetuje po úspěšném přidání obrázku. Vybraná přírodnina zůstane zachována.

[2019-04-16 15:40] #16 closed, assigned to ShadyMedic

[2019-04-16 16:56] ShadyMedic opened #24 "Okamžitá aktualizace počtu obrázků po přidání nového obrázku."
Počet obrázků dané přírodniny by se mohl aktualizovat již při přidání obrátzku.
Aktualizace stránky trvá dloho a zresetuje formulář.

[2019-04-17 08:37] ShadyMedic commented on #24
Opraveno.
https://github.com/HonzaSTECH/Poznavacky/pull/25#issue-271207914

[2019-04-17 08:37] #24 closed, assigned to ShadyMedic

[2019-04-17 08:39] ShadyMedic opened #26 "Přidat statistiku provozu."
Do databáze by se měl zapisovat počet HTTP požadavků za minutu / hodinu.
Vzniklý graf by se dal použít ke statistickým účelům.

[2019-04-17 20:11] ShadyMedic commented on #26
Přidáno.
https://github.com/HonzaSTECH/Poznavacky/pull/27#issue-271399664

[2019-04-17 20:11] #26 closed, assigned to ShadyMedic

[2019-04-18 10:05] ShadyMedic commented on #14
První verze stylování dokončena: https://github.com/HonzaSTECH/Poznavacky/pull/28#issue-271447875.
Čeká se na optimalizaci pro menší displeje.

[2019-04-18 10:11] ShadyMedic opened #29 "Chybové stránky by měli mít detailnější obsah."
Stylovat je pokročilejším CSS asi nebude nutné.

[2019-04-18 13:56] ShadyMedic commented on #29
Chybové stránky byli předesignovány a obsahují více informací.
https://github.com/HonzaSTECH/Poznavacky/pull/30#issue-271678059

[2019-04-18 13:56] #29 closed, assigned to ShadyMedic

[2019-04-21 08:07] ShadyMedic opened #32 "Někde by mělo být upozornění na používání souborů cookie."
Stačil by nějaký baner jako footer na stránce index, což by zajistilo, že by se upozornění zobrazovalo na každém zařízení pouze jednou (před smazáním cookies nebo změny ověřovacího kódu).

Nebylo by nutné klikat na "Souhlasím", nebo něco takového. Prostě by tam bylo "Používáním těchto stránek s tím souhlasíte" a křížek na schování zprávy.

[2019-04-21 17:39] ShadyMedic opened #33 "Upravit noImage.png do stylu podobnému previewImage.png"
Upravila bys prosím obrázek zobrazující se při absenci obrázku do stylu, v jakém je náhled obrázku (styl písma atd.)? Vypadá to trochu divně v porovnání s tím náhledem.

Jestli to uděláš, založ si prosím na ten jeden commit novou větev.
Díky.

[2019-04-21 19:43] ghost opened #34 "Návrh na seskupování poznávaček."
**Vztahuje se váš požadavek k nějakému problému? Popište prosím.**
Nevypadá moc dobře, když je v seznamu poznávaček jedna na kroužkovce, jedna velká na měkkýše a spoustu malých na hmyz.

**Popište řešení, které by se vám zamlouvalo**
Myslím, že by vypadalo dobře, kdyby tam byla jenom jedna poznávačka na hmyz, po jejímž vybrání bych byl odkázán na další seznam "podpoznávaček", ze kterých bych si už

[2019-04-22 17:26] ghost opened #35 "Po čase zmizí seznam živočichů."
**Popište chybu**
Občas, když se po delší době vrátím na stránku učit se, není v nabídce žádný živočich.

**Jak vyvolat chybu**
1. Běžte na stránku učit se.
2. Přepněte na delší dobu (pár hodin) na jinou kartu, nebo mobil uspěte.
3. Vraťte se na stránku učit se.

**Předpokládané chování**
Živočichové vybrané poznávačky by se měli i nadále zobrazovat.

**Snímky obrazovky**
Posílám jeden:
![temp](ht

[2019-04-23 06:05] ShadyMedic commented on #35
Pracuji na tom. Uživatel bude přesměrován na výběr poznávaček, pokud bude detekován tento problém (vypršení sezení).

[2019-04-28 18:27] oh-dude opened #38 "Navrh na klavesove zkratky"
Novy klavesovy zkratky pls.
sipka nahoru, dolu - nova prirodnina
sipka doleva, doprava - novy obrazek

[2019-04-28 18:29] oh-dude opened #39 "Návrh na upravu zkouseni"
Pri zkouseni sice random obrazky, ale moznost zobrazit i ostatni obrazky dane prirodniny (sipky)

[2019-04-28 19:15] oh-dude opened #40 "Návrh na vylepšení náhodného výběru obrázků"
Bylo by lepsi kdybys to udelal tak, ze se prvne vybere random prirodnina a z ni potom random obrazek, aby byla stejna sance na to vybrat prirodniny.. kdyz je treba 100 obrazku u jedny prirodniny a 1 u druhy tak aby se furt neukazovala ta prvni jestli me chapes.

[2019-05-02 06:09] ShadyMedic commented on #35
Opraveno. Uživatel je nyní přesměrován na výběr poznávaček, pokud se vyskytne tento problém.
Viz [tuto](https://github.com/HonzaSTECH/Poznavacky/pull/41#issue-275243661) žádost o spojení.

[2019-05-02 06:09] #35 closed, assigned to ShadyMedic

[2019-05-02 16:43] ShadyMedic commented on #38
Jdu na to.
Vývoj funkce bude probíhat na větvi klavesove_zkratky.

[2019-05-03 15:34] eksyska commented on #38
ještě mi přijde jako fajn nápad možnost odenterování (místo tlačítka OK nebo podobného), to by se tam taky mohlo přidat

[2019-05-03 16:08] ShadyMedic commented on #38
To už při testování funguje. Je to udělaný tak, že při testování nemusíš vůbec sahat na myš. Napíšeš odpověď, máčkneš enter, přečteš si správnou odpověď, znova máčkneš enter a hned můžeš psát další odpověď. Nebo tobě to takhle nefunguje?

[2019-05-03 20:27] ShadyMedic commented on #33
Obrázek upraven. Bude zahrnuto do hlavního kmenu při dalším spojení větve footer.
Odkaz na commit: https://github.com/HonzaSTECH/Poznavacky/commit/59ef8307c74271e1e17cf563fbd92937aad2ed31

[2019-05-03 20:27] #33 closed, assigned to eksyska

[2019-05-09 05:56] ShadyMedic commented on #38
Pustil jsem se do toho, ale jsou tam nějké problémy s klávesami šipek (JavaScript je nedokáže detekovat).
Udělám to proto pomocí kláves WSAD a v budoucnu to možná předělám.

[2019-05-09 18:17] ShadyMedic opened #42 "Přidat podmínky služby"
Aby se předešlo otázkám o ukládaných datech a zvýšila se transparentnost služby, bylo by dobré přidat podmínky služby (terms of service), které by bylo nutno odsouhlasit před pokusem o odeslání ověřovacího kódu.
Tyto podmínky by obsahovaly informace o všech datech ukládaných v databázi a o nakládání s nimi, dále poučení o vkládání pouze volně šiřitelných obrázků a postup při napadení autorských pr

[2019-05-09 19:03] ShadyMedic commented on #38
Klávesové zkratky jsou nyní funkční.

Je tam ale jeden problém. Myslím, že je potřeba přidat nějaké miniatury, které ostatním řeknou, že dané tlačítko mohou zaktivovat i nějakou klávesou. V posledním commitu na větvi "klavesove_zkratky" jsem přidal miniatury do < kbd > tagů a do css.css jsem pro tento tag přidal styl lehce obšlehnutý z GitHub. Miniatury ale nevypadají příliš dobře. Koukneš se @eks

[2019-05-09 19:37] ShadyMedic opened #43 "Přidat oznámení o updatech"
Hodlám přidat na stránku list,php oznámení, které se zobrazí na zařízeních po prvním přihlášení po nějakém updatu. Toto oznámení bude informovat o nových změnách ve službě.
Oznámení bude zobrazeno pouze jednou na každém zařízení po každém updatu, avšak to bude zajištěno nejspíše pomocí souborů cookie. Po vymazání souborů cookie se tedy bude oznámení zobrazovat znovu.

[2019-05-10 14:51] ShadyMedic commented on #38
Funkce byla přidána. Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/44#issue-277784907.

[2019-05-10 14:51] #38 closed, assigned to ShadyMedic

[2019-05-10 14:55] ShadyMedic commented on #40
Ok, jdu na to.
Vývoj bude probíhat na větvi random_test

[2019-05-12 09:39] ShadyMedic commented on #40
Funkce byla přidána. Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/45#issue-278040622

[2019-05-12 09:39] #40 closed, assigned to ShadyMedic

[2019-05-12 09:45] ShadyMedic commented on #42
Jde se na to. Začnu napsáním vlastních podmínek. Odkaz na ně na stránkách bude přidán až na konec.
Změny se budou vykonávat na větvi "terms" a poté sloučeny do větve "legal" společně s upozorněním na soubory cookie (https://github.com/HonzaSTECH/Poznavacky/issues/32#issue-435486472).

[2019-05-14 05:30] ShadyMedic commented on #32
Jde se na to. Budu na tom pracovat paralerně s přidáváním podmínek použití.
Vývoj bude prováděn na větvi "cookies", která bude posléze sloučena do větve legal s podmínkami používání (https://github.com/HonzaSTECH/Poznavacky/issues/42#issue-442367254).

[2019-05-14 18:22] ShadyMedic commented on #42
Podmínky byly přidány. Před sloučením s hlavním kmenem budou vyřešeny ještě soubory cookie.
Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/46#issue-278792678.

[2019-05-14 18:22] #42 closed, assigned to ShadyMedic

[2019-05-15 15:26] ShadyMedic commented on #32
Upozornění bylo přidánu na úvodní stránku (index.php). Společně se zprávou o podmínkách služby musí být upozornění ještě nastylováno. Společné stylování bude prováděno na větvi "legal".
Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/47#issue-279140637.

[2019-05-15 15:26] #32 closed, assigned to nobody

[2019-05-17 05:08] ShadyMedic opened #48 "Nastylovat znova index.php"
Mohla bys prosím trošku přestylizovat tu **index** stránku? Potřeboval jsem tam přidat pár prvků a trošku se to rozhodilo.
Udělej to když tak na větvi "_legal_".

[2019-05-17 05:15] ShadyMedic commented on #33
Změna byla spojena do hlavního kmene. Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/49#issue-279753520.

[2019-05-17 05:19] ShadyMedic commented on #43
Na tomhle začnu do několika dní pracovat.

[2019-05-20 12:17] ShadyMedic commented on #43
Jdu na to.
Vývoj funkce bude probíhat na větvi "_changelog_".

[2019-05-21 14:35] ShadyMedic opened #50 "Oprava nastylování changelogu"
Můžeš se prosím mrknout na nový prvek changelogu na stránce list.php?
Přidal jsem to tam jako informační zdroj o (například) možnosti používání klávesových zkratek. Všechno funguje dobře, ale možná to bude potřebovat ještě trošku přestylovat.
Já už to tak nějak nastyloval podle svého, ale asi bude lepší, když se na to podíváš ještě ty a sjednotíš to se zbytkem do stejné barevné palety atp.
Vytvoři

[2019-05-21 14:59] ShadyMedic commented on #43
Oznámení bylo přidáno. Čeká se na nastylování.
#50

[2019-07-24 19:40] ShadyMedic opened #53 "Je potřeba lépe zorganizovat soubory"
Soubory je potřeba roztřídit do složek, aby vše nebylo nepřehledně naházáno v kořenovém adresáři.
Systém složek může vypadat asi takto:
- css  (soubory s .css příponou)
- serverScripts  (.php skripty, které se nezobrazují jako samostatné stránky)
- clientScripts  (soubory s .js příponou)
- pages  (.php soubory, které se zobrazují jako samostatné stránky a soubory s příponou .html)
- images  (obráz

[2019-07-28 16:58] ShadyMedic commented on #15
Pracuje se na tom.
Vývoj probíhá na větvi registracniSystem.
Bude vydáno nejdříve po ukončení letní soutěže na itnetwork.cz.

[2019-08-06 19:24] ShadyMedic opened #54 "Při potvrzení změny jména je potřeba odeslat e-mail."
Když je potvrzena změna jména, je nutné odeslat e-mail žadatelovi, který jej bude informovat, že se pod starým jménem již nepřihláší.

E-mail by se také mohl odeslat při zamítnutí žádosti, aby žadatel věděl, že by měl poslat novou žádost.

Aby se předešlo problémům s přihlášením po změně jména, měla by se dát do hlášky, která se zobrazí po odeslání žádosti informace, která řekne, ať se uživatel po

[2019-08-14 14:03] ShadyMedic commented on #54
E-mail se nyní odesílá při potvrzení žádosti. Odkaz na commit: [zde](https://github.com/HonzaSTECH/Poznavacky/commit/2d69eb608b0d33d788dbd641adeae09999ee3fb8)

[2019-08-14 14:38] ShadyMedic commented on #54
E-mail se nyní odesílá i při zamítnutí žádosti a obsahuje správcem zadaný důvod zamítnutí. Odkaz na commit: [zde](https://github.com/HonzaSTECH/Poznavacky/commit/e327ae2663921547a648f63dc39567ccaf9b3c69)

[2019-08-14 14:39] ShadyMedic commented on #54
Hláška upozorňující na e-mail byla přidána už dříve.
Všechny body splněny, zavírám konverzaci.

[2019-08-14 14:39] #54 closed, assigned to ShadyMedic

[2019-08-14 14:42] ShadyMedic opened #55 "Nefunguje uchování přihlášení."
Z nějakého důvodu blbne uchování přihlášení pomocí tlačítka "Zůstat přihlášen" na přihlašovací stránce.

Neukládá se instantLogin cookie, což má za následek odhlášení po ukončení relace.

[2019-08-15 13:54] ShadyMedic opened #56 "Věci co se musí nastylovat pro verzi 3.0"
- [x] 1. [Footer](https://github.com/HonzaSTECH/Poznavacky/issues/14)
- [x] 2. [Changelog](https://github.com/HonzaSTECH/Poznavacky/issues/50)
- [x] 3. [index.php](https://github.com/HonzaSTECH/Poznavacky/issues/48)
- [x] 4. accountSettings.php
- [x] 5. emailPasswordRecovery.php
- [x] 6. list.php (nějak vhodně umístnit dva nové odkazy)

[2019-08-15 14:14] ShadyMedic commented on #56
Všechno kromě Footeru a Changelogu prováděj na větvy registracniSystemCss, kterou si vytvoříš s posledního commitu na větvy registracniSystem. Footer dělej na větvy footer a changelog na větvy changelog.

Všechny kreace větví dělej tady na githubu, ať se nemusíš učit další příkazy do konzole Gitu.
V konzoli by ti mělo stačit git pull, git commit, git push a git checkout (přepínání větví).

Kdybys

[2019-09-04 17:46] ShadyMedic commented on #55
Jde se na to. Všechny ostatní důležité funkce registračního systému již byly dokončeny.

[2019-09-04 18:22] ShadyMedic commented on #55
Opraveno v jednom commitu.
Pro více informací viz zprávu o změně.
Odkaz na commit: https://github.com/HonzaSTECH/Poznavacky/commit/c9b7056a7fbbd4144ab64238112d0d38bee6c6f3

[2019-09-04 18:22] #55 closed, assigned to ShadyMedic

[2019-09-04 18:25] ShadyMedic commented on #15
Funkční registrační systém byl přidán.
Čeká se na nastylování.
Seznam věcí k nastylování je zde: https://github.com/HonzaSTECH/Poznavacky/issues/56

[2019-09-05 07:45] ShadyMedic commented on #39
Brzy se k tomuhle snad dostanu. K čemu si myslíš, že bude tato funkce dobrá? Já si totiž úplně nedokážu představit nějaký přínos.

[2019-09-06 19:09] ShadyMedic commented on #48
### Změna
Bude se to dělat na větvi _registracniSystemCss_, která bude vytvořena z posledního commitu na větvi development.

[2019-09-06 19:11] ShadyMedic commented on #14
Footer byl konečně hotov.
Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/60
V budoucnu se bude footer nejspíše ještě upravovat, ale současná verze je dostatečná a funkční.

[2019-09-06 19:11] #14 closed, assigned to ShadyMedic, eksyska

[2019-09-06 19:21] ShadyMedic commented on #48
Větev _legal_ byla smazána, větev _registracniSystemCss_ vytvořena.

[2019-09-07 11:28] ShadyMedic commented on #56
Větev registracniSystemCss jsem vytvořil. Jednom si jí stáhni a můžeš udělat body 3 - 6.

[2019-09-08 08:30] ShadyMedic opened #61 "Přidat možnost smazání vlastního účtu"
Do accountSettings.php by se mohlo přidat tlačítko, které by smazalo účet přihlášeného uživatele a všechna jeho data (e-mail, poslední přihlášení, počet nahraných a uhodnutých obrázků, status).

[2019-09-08 20:22] eksyska opened #62 "Nastavení účtu - tlačítko zpět"
na stránku s nastavením účtu přidat tlačítko odkazující na list.php, aby se nemuselo používat prohlížečové tlačítko v horní liště

[2019-09-08 20:25] eksyska commented on #56
changelog hotov, zbývá doladit pouze pár drobností, které bych udělala hromadně i s dalšími drobnostmi z jiných větví těsně před vypuštěním verze, až budou větve spojené

[2019-09-08 20:26] ShadyMedic commented on #62
Dobrý nápad. Zapomněl jsem ho tam přidat.
Kdyžtak si ho tam přidej, je celkem jedno kam, prostě aby se ti to dobře stylovalo.

[2019-09-08 20:34] ShadyMedic commented on #56
Ok, díky.
Větev changelog spojuji do větve development a mažu.
Proveď tyto příkazy (nejdřív v 23:00):
`git pull origin development`
`git pull origin registracniSystemCss`
`git checkout registracniSystemCss`
`git branch changelog -d`

[2019-09-08 20:50] ShadyMedic commented on #50
Changelog hotov.
Odkaz na komentář: https://github.com/HonzaSTECH/Poznavacky/issues/56#issuecomment-529238404

[2019-09-08 20:50] #50 closed, assigned to eksyska

[2019-09-08 20:59] ShadyMedic commented on #50
Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/63#issue-315306851

[2019-09-09 08:26] ShadyMedic commented on #43
Nastylováno a spojeno do větve _development_.
Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/63.

[2019-09-09 08:30] #43 closed, assigned to nobody

[2019-09-10 19:09] eksyska opened #65 "přihlašování enterem"
možnost přihlásit se odenterováním, momentálně je to možné pouze kliknutím na "přihlásit se" (zkoušela jsem na větvích registracniSystemCss a development, navíc je možné, že stejná situace nastává u registrace, to už jsem ale nekontrolovala)

[2019-09-10 19:11] ShadyMedic commented on #65
Dobrý postřech. Přidám to tam během několika dní.

[2019-09-10 19:56] ShadyMedic opened #66 "Upravit vyskakovací hlášky"
Vyskakovací hlášky upozorňující například na úspěšné přidání obrázku by se měli předělat, aby lépe ladily se zbytkem stránky.

[2019-09-11 09:31] ShadyMedic commented on #62
Tlačítko bylo přidáno na větvy registracniSystemCss v [tomto](https://github.com/HonzaSTECH/Poznavacky/commit/988d95d18755e32cf174129ce997a324dd5bf135#diff-6f78a9d579aca3ed73d7f624ae1b299f) commitu.
Později bude spojeno do větve development.

[2019-09-11 09:31] #62 closed, assigned to nobody

[2019-09-11 09:54] ShadyMedic commented on #65
Práce na funkci započata, vývoj bude probíhat na větvi _enterSubmits_.

[2019-09-11 14:15] ShadyMedic commented on #65
Dokončeno a spojeno do větve development.
Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/67.
Aby se předešlo problémům, nespojuj si development do registracniSystemCss. S největší pravděpodobností by vznikly spojovací konflikty, které se poměrně obtížně řeší a ve finále nejsou vůbec zapotřebí.

[2019-09-11 14:15] #65 closed, assigned to nobody

[2019-09-11 15:12] ShadyMedic commented on #61
Jdu na to.
HTML kód byl přidán na větvi _registracniSystemCss_, aby byl ihned nastylován. Odkaz na commit: https://github.com/HonzaSTECH/Poznavacky/commit/bbb1975c20f6fd3c10560187cc2d8a30c2ac046d
Vývoj JavaScriptu bude probíhat na větvi _mazaniUctu_.

[2019-09-19 18:02] eksyska commented on #56
dodělán registrační systém v list.php a account.Settings.php, následovat budou už jen změny v rámci finálních úprav

[2019-09-19 22:37] ShadyMedic commented on #56
Super, díky moc. ☺ Dodělej prosím zbytek toho seznamu a v neděli to všechno pospojuju do jedné větve a budeme mít hotovo.

[2019-09-20 05:07] eksyska commented on #56
no uplne nebudeme, mam papir popsany vecmi, co jeste potrebujou zmenit :D
ale to jsou vetsinou veci, co se tykaji tak nejak celych stranek, takze je
budu delat, az to spojis vsechno

pá 20. 9. 2019 0:37 odesílatel Jan Štěch <notifications@github.com> napsal:

[2019-09-21 19:21] eksyska commented on #56
index.php hotov

[2019-09-22 19:51] eksyska commented on #56
emailPasswordRecovery.php hotové

[2019-09-22 20:23] ShadyMedic commented on #56
Paráda! Zítra to všechno pospojuju a můžeme se pustit do testování a
finálních úprav.
Díky.

Dne ne, 22. 9. 2019 21:51 uživatel eksyska <notifications@github.com>
napsal:

[2019-09-23 12:39] #48 closed, assigned to eksyska

[2019-09-23 13:16] ShadyMedic commented on #61
Funkce zprovozněna.
Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/72

[2019-09-23 13:16] #61 closed, assigned to nobody

[2019-09-23 13:55] ShadyMedic commented on #48
Spojeno do větve *development*.
Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/73/

[2019-09-23 14:03] ShadyMedic commented on #56
Větev *registracniSystemCss* byla spojena do větve *development*. A smazána.
Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/73/

Smaž si prosím větev i od sebe z počítače, ať nevzniknou nějaké problémy.
`git pull origin development`
`git branch registracniSystemCss -d`
`git branch`

Poslední příkaz by ti měl říct, že máš tři větve: *master*, *development* a *databaseUpdates*.

[2019-09-23 14:03] #56 closed, assigned to eksyska

[2019-09-23 14:08] ShadyMedic commented on #15
Systém byl nastylován.
Zbývá doladit drobnosti a vše řádně otestovat.

Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/73/

[2019-09-26 15:40] ShadyMedic opened #74 "Při změně hesla na accountSettings.php se špatně zobrazují tlačítka"
Když se pokusíš změnit si heslo a objeví se tlačítka "Dále" a "Zpět", je jedno na stejném řádku jako vstupní pole, ale druhé je pod ním. Bylo by lepší, kdyby obě byla vedle vstupního pole. Klidně může být jedno nalevo a druhé napravo, nebo obě napravo.

[2019-09-26 16:01] ShadyMedic commented on #74
To samé se nyní týká i změny hesla.

[2019-09-27 19:17] eksyska commented on #74
To je dáno velikostí okna - tlačítka se tam prostě seskupí podle toho, jak se vejdou. Přehodila jsem ale "Zpět" a "Dále", aby to bylo alespoň praktičtější pro uživatele.

[2019-09-27 19:17] #74 closed, assigned to eksyska

[2019-09-28 14:19] ShadyMedic commented on #15
Systém byl přidán.
Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/75

[2019-09-28 14:19] #15 closed, assigned to nobody

[2019-09-28 21:10] eksyska opened #79 "nové odeslání formuláře v management.php"
Pokud si zobrazím nahlášený obrázek, otevře se na stejné kartě. Když se chci vrátit, musím znovu zadávat admin heslo.

[2019-09-29 10:04] ShadyMedic commented on #79
K tomu je tam ta ikona oka, aby se nemuselo vůbec vylézat z té domény.

Nebo myslíš, že je potřeba to tam dát ještě takhle? Já to tam mám spíše jako pojistku, kdyby se to normálně zobrazovalo tím okem, ale pořád by byly problémy.

[2019-09-30 20:02] ShadyMedic commented on #79
Vyřešeno. Bude spojeno do masteru až v nové verzi (4.1).
Odkaz na commit: https://github.com/HonzaSTECH/Poznavacky/commit/a8383eaf7eb8cb754872a0610fbdc077eba76892

[2019-09-30 20:02] #79 closed, assigned to nobody

[2019-09-30 20:04] ShadyMedic commented on #53
Na tomhle se teď bude dělat.
Vývoj bude probíhat na větvi *development* pro verzi **3.1**.

[2019-09-30 20:16] ShadyMedic commented on #53
### **Fáze reorganizace**
- [x] Přesunout soubory, které se jako takové nespouštějí (.md, .sql, atp.)
- [x] Přesunou obrázky (kromě souborů ikon)
- [x] Přesunout soubory ikon
- [x] Přesunout .css soubory
- [x] Přesunout .js soubory (je třeba dát pozor na přesměrovávání)
- [x] Přesunout vkládané serverové skripty
- [x] Přesunout AJAXové skripty (to bude náročnější)
- [x] Přesunout ostatní soubory (

[2019-10-01 10:20] ShadyMedic opened #82 "Přidat nové soubory do list_of_files.txt"
Je potřeba zapsat všechny nově přidané soubory (převážně soubory ikon, .json a .xml soubkry) do souboru **list_of_files.txt** na větvi _development_ společně s jejich funkcí a výpisem souborů, ve kterých jsou používány.

Pokouším se soubory roztřídit do složek a pokud nebudu vědět, kde všude musím aktualizovat reference na ně, bude to prakticky nemožné.

Vypiš prosím nové soubory na konec **list_o

[2019-10-02 09:13] ShadyMedic commented on #82
Seznam souborů k přidání:
- apple-touch-icon-180.png
- browserconfig.xml
- favicon-16x16.png
- favicon-32x32.png
- icon-192.png
- manifest.json
- mstile-150x150.png
- safari-pinned-tab.svg

[2019-10-04 20:06] ShadyMedic commented on #82
Přidáno a seřazeno.

[2019-10-04 20:06] #82 closed, assigned to eksyska

[2019-10-06 11:21] eksyska opened #85 "poslední přihlášení v management.php"
V management.php se v tabulce s registrovanými uživateli čas posledního přihlášení aktualizuje pouze v případě, že se daný uživatel přihlásí přímo na index.php. Pokud má nastavené automatické přihlašování, čas se neaktualizuje.

[2019-10-06 14:38] ShadyMedic opened #86 "Opravit reset formuláře"
Na accountSettings.php je potřeba po změně e-mailové adresy skrýt a vymazat formulář s heslem a novým e-mailem.

[2019-10-06 14:42] ShadyMedic commented on #86
Stejně tak je potřeba vymazat heslo z formuláře pro odstranění účtu, pokud je akce na poslední chvíli zamítnuta uživatelem.

[2019-10-08 05:31] ShadyMedic commented on #53
Zobrazované stránky a soubory konfigurace zůstanou v kořenovém adresáři z technických a zjednodušovacích důvodů.

[2019-10-08 05:32] ShadyMedic commented on #53
Soubory roztřízeny.
Odkaz na pull request: #87

[2019-10-08 05:32] #53 closed, assigned to nobody

[2019-10-08 05:35] ShadyMedic commented on #86
Jde se na to.
Vývoj bude probíhat na větvi formReset.

[2019-10-08 14:14] ShadyMedic commented on #86
Hotovo.
Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/88.

[2019-10-08 14:14] #86 closed, assigned to nobody

[2019-10-08 14:16] ShadyMedic opened #89 "Nahradit menu stránku"
Stránka _menu.php_ by měla být odstraněna a volba mezi třemi možnostmi přesunuta do _list.php_.

Stránka je příliš prázdná, jsou s ní problémy při responsivním stylování a jako taková nevypadá příliš hezky.

[2019-10-08 14:17] ShadyMedic commented on #85
Jde se na to.
Vývoj bude probíhat na větvi _lastLoginFix_.

[2019-10-08 14:46] ShadyMedic commented on #85
Tohle teoreticky mělo fungovat i tak.
Otestuj, jestli ti to už taky jde a kdyžtak tohle issue zavři.
Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/90.

[2019-10-08 14:48] ShadyMedic opened #91 "Automaticky vykreslovat odkaz do správy služby pro administrátory."
Správcům by se v headru měl zobrazovat další odkaz směřující do management.php, aby se tam dalo přesouvat rychleji.

[2019-10-08 14:57] ShadyMedic commented on #91
Hotovo.
Provedeno na větvi _managementLink_.
Odkaz na pull request: https://github.com/HonzaSTECH/Poznavacky/pull/92.

[2019-10-08 14:57] #91 closed, assigned to nobody

[2019-10-09 05:19] ShadyMedic commented on #89
Před tímhle je potřeba vyřešit #34, protože obě funkce ovlivňují tabulku poznávaček na _list.php_.

[2019-10-09 05:24] ShadyMedic commented on #34
Jdu na to.
Vývoj bude probíhat na větvi _testGrouping_.

Poznávačky by mohly být rozděleny do několika vrstev:
1. Škola / třída
2. Poznávačka
3. Části poznávačky + celá poznávačka.

[2019-10-09 06:07] ShadyMedic commented on #34
Aktuální nápady jak to provést jsou k dispozici [zde](https://docs.google.com/document/d/1jB5Owy5_RrbKXprraROwhcvRV-kZ89wEi6W43Q22DKc/edit?usp=sharing).

[2019-10-09 18:09] eksyska opened #93 "změna odkazu ve footeru"
Měl by se změnit text odkazu "Potřebujete pomoct?". Zaprvé je jeho největší využití přesměrování na Issues sloužící spíše k navrhování nových funkcí a nahlašování chyb, za druhé nabídku pomoci zastává už odkaz "Nápověda". Tam je navíc i přesměrování přímo na Issues. Navrhuji spíše něco jako "Máte návrh na zlepšení?"

[2019-10-09 20:04] ShadyMedic commented on #93
Možná mám nějakou jinou verzi, ale já vidím ve footeru tyhle odkazy:

1. Nalezli jste problém --> issues
2. Nápověda --> wiki
3. Podmínky služby --> TERMS_OF_SERVICE.md

O žádném "Potřebujete pomoct" nevím, ale zní mi to povědomě.

[2019-10-09 20:15] eksyska commented on #93
Promiň, trochu jsem si to spletla - to Potřebujete pomoct tam bylo dřív. Nevím, pro jsem žila v domnění, že tam je pořád. Asi to mělo něco společnýho s tím, že mi psali lidi, i když si mohli info najít ve footeru - tak jsem asi měla pocit, že je tam něco zavádějícího.

[2019-10-09 20:23] ShadyMedic commented on #93
Pohodka.
Na co se tě třeba ptali?
Mimochodem, funguje ti už ta aktualizace času přihlášení?

[2019-10-09 20:23] #93 closed, assigned to nobody

[2019-10-09 20:28] #85 closed, assigned to nobody

[2019-10-10 16:39] eksyska opened #94 "přestylování management.php"
Management.php by se měl trochu přestylovat. Stránka by měla zůstat přehledná, chci ji ale udělat responzivnější a v určitých ohledech uživatelsky příjemnější.

[2019-10-10 17:18] ShadyMedic commented on #94
Jo, to by se asi mělo udělat.
Udělej si na to z *development* nějakou novou větev a pošli pak pull request zpátky do *development*.
Hlavně to moc nepřeháněj, konec konců to neuvidí až tolik lidí, aby to stálo za větší námahu.

[2019-10-10 17:21] ShadyMedic opened #95 "Přidat možnost spravovat vlastní obrázky"
Bude tak možné například odstraňovat obrázky nedopatřením přidané k nesprávné přírodnině.

[2019-10-12 10:18] ShadyMedic commented on #34
Před samotným přidáním této funkce se bude muset přestrukturalizovat databáze.
Všechny tabulky s obrázky budou spojeny do jedné, to samé platí i pro tabulky se seznamem přírodnin a tabulky s hlášeními.
Tato změna se bude dělat na větvi *dbRestructuring*, která bude vytvořena z větve *testGrouping* a bude do ní posléze i spojena.

[2019-10-13 13:03] ShadyMedic opened #96 "Při přepínání na další obrázek zobrazit načítání"
Na learn.php by se mělo při přepínání na další obrázek ukázat něco, co ukáže že se obrázek načítá. Úplně by stačilo skrýt zobrazený obrázek a dát místo něj "Zde se zobrazí náhled obrázku".
Pokud to tak nefunguje i na test.php, udělat to tak i tam.

Edit: Na test.php to již takto funguje.

[2019-10-13 13:18] ShadyMedic opened #97 "Přidat důvod nahlášení "Obrázek se načítá příliš dlouho""
Občas je přidán obrázek, který je příliš velký a načítá se i několik sekund. Bylo by dobré je takto odfiltrovat.

[2019-10-13 15:18] ShadyMedic opened #98 "Přičítání uhodnutého obrázku je příliš citlivé"
Do testAnswerCheck.php je potřeba přidat mechanismus tolerující překlapy, podobně jako je tomu v test.js.

[2019-10-13 20:07] eksyska commented on #96
myslím, že by mohlo být fajn přidat takový ten gif s točícím se kolečkem

[2019-10-13 20:07] ShadyMedic commented on #97
V jednom updatu společně s tímto důvodem můžeme přidat ještě možnost specifikovat správnou přírodninu k důvodu "Obrázek zobrazuje nesprávnou přírodninu" a důvod který může napsat sám uživatel.

[2019-10-13 20:10] ShadyMedic commented on #96
Jo, to by taky šlo.

[2019-10-14 14:27] ShadyMedic opened #99 "Při skrytí obrázku se jej systém i nadále pokouší zobrazovat"
Na učící stránce se však zobrazí pouze prázdný prvek obrázku, který má atributu src nastavenou na _(unknown)_.
Je potřeba snižovat množství obrázků u přirodniny při skrytí některého z nich v tabulce se seznamem přírodnin.

[2019-10-14 17:42] ShadyMedic opened #100 "Skrýt formulář pro nahlášení obrázku po odeslání hlášení"
Formulář pro odeslání hlášení zůstává zobrazen i po úspěšném odeslání hlášení, což nevypadá moc dobře.

[2019-10-14 18:24] ShadyMedic opened #101 "Zobrazovat správný název přírodniny při překlepu"
Pokud se vyskytne při testování překlep, je sice odpověď uznána za správnou, ale uživatel se může naučit zkomolený název s překlepem.
Při detekci překlepu (vyjma malých a velkých písmen, případně diakritiky) by se tak měl zobrazovat i správný název jako při zadání špatné odpovědi. Odpověď však bude stále uznána.

[2019-10-15 17:45] ShadyMedic commented on #34
Kvůli složitosti změny a důležitějším problémům se vývoj této funkce prozatím odkládá.
Větve _dbRestructuring_ a _testGrouping_ budou zachovány a vývoj na nich bude v budoucnosti pokračovat.

[2019-10-16 05:29] ShadyMedic commented on #100
Jde se na to.
Vývoj bude probíhat na větvy reportFormHiding.

[2019-10-16 05:46] ShadyMedic commented on #100
Opraveno.
Odkaz na pull request: #102.

[2019-10-16 05:46] #100 closed, assigned to nobody

[2019-10-16 12:52] ShadyMedic commented on #101
Jdu na to.
Práce bude probíhat na větvi _typoCorrections_.

[2019-10-16 14:01] ShadyMedic commented on #101
Hotovo.
Odkaz na pull request: #103.

[2019-10-16 14:01] #101 closed, assigned to nobody

[2019-10-16 14:13] ShadyMedic commented on #96
Dám tam zatím takový to základní, ale bylo by vtipný udělat nějaký vlastní, kde by se honili třeba opice, nebo něco takového.

[2019-10-16 14:15] ShadyMedic commented on #96
Vývoj bude probíhat na větvi _loadingPicture_.

[2019-10-16 14:55] ShadyMedic commented on #96
Hotovo.
Odkaz na pull request: #104.

[2019-10-16 14:55] #96 closed, assigned to nobody

[2019-10-16 15:29] ShadyMedic commented on #99
Jde se na to.
Vývoj bude probíhat na větvi _picCountFix_.

[2019-10-16 15:33] ShadyMedic commented on #99
Spraveno.
Odkaz na pull request: #105.

[2019-10-16 15:33] #99 closed, assigned to nobody

[2019-10-17 06:52] ShadyMedic commented on #98
Jde se na to.
Vývoj bude probíhat na větvi _answerCheckFix_.

[2019-10-18 15:54] ShadyMedic commented on #98
Hotovo.
Odkaz na pull request: #107.

[2019-10-18 15:54] #98 closed, assigned to nobody

[2019-10-23 05:27] ShadyMedic commented on #97
Jde se na to.
Vývoj bude probíhat na větvi _newReportReasons_.

[2019-11-01 20:55] ShadyMedic commented on #97
Hotovo.
Nové důvody: Jiný důvod, Obrázek se načítá příliš dlouho
Upravený důvod: Obrázek zobrazuje nesprávnou přírodninu (lze zadat správnou)
Odkaz na pull request: #108.

[2019-11-01 20:55] #97 closed, assigned to ShadyMedic

[2019-11-06 15:02] ShadyMedic opened #110 "Přepsat řetězce v databázi do snake case."
Většina řetězců v databázi je nyní napsána ve stylu Camel Case (pridaneObrazky). To ale může dělat problémy na linuxových serverech, které nejsou úplně spolehlivé při práci s velkými a malými písmeny. Snake Case (pridane_obrazky) tak bude spolehlivější volbou.

Toto bude lepší provést až po uzavření #34.

[2019-11-06 18:59] ShadyMedic commented on #34
Práce na funkci obnovena.

[2019-11-17 18:25] ShadyMedic commented on #34
Databáze byla přestrukturalizována a systém poznávaček rozdělen do systému podsložek. Více informací v pull requestu zde: #111.

Na větvy testGrouping bude nyní probíhat vývoj funkce, která do každé poznávačky (skupiny) automaticky vygeneruje podpoznávačku se všemi organismy.

[2019-11-30 12:37] ShadyMedic commented on #34
Generování poznávačky pro všechny části dohromady bylo dokončeno.
Odkaz na pull request: #112.

[2019-11-30 12:37] #34 closed, assigned to nobody

[2019-11-30 12:59] ShadyMedic commented on #110
Jde se na to. Vývoj bude probíhat na větvi _snake_case_db_.

[2019-12-01 12:16] ShadyMedic commented on #110
Hotovo
Odkaz na pull request: #113

[2019-12-01 12:16] #110 closed, assigned to nobody

[2019-12-23 13:50] ShadyMedic opened #114 "Přidat do databáze vazby mezi klíči"
Do databáze by se měli přidat vztahy a omezení mezi klíči, aby se například při mazání uživatele nemusely zvlášť mazat i jeho sezení, žádosti o změnu jména atp. Také to pomůže uchovat databázi konzistentní.

[2019-12-23 16:37] ShadyMedic commented on #114
Klíče byly přidány a propojeny. Všechny omezení jsou prozatím nastaveny na _CASCADE_.
Na větvi db_relations se bude upravovat kód php souborů.

[2019-12-27 14:00] ShadyMedic opened #115 "Upravit podmínku, za které se zobrazuje changelog"
Současná podmínka rozhodující, zda se zobrazí changelog není úplně dobrá, protože závisí na cookie se životností jednoho roku a cookie je navíc vázáno na počítač, ne účet.

Dobrá alternativa by byla například ukládání posledního zobrazeného changelogu do databáze k uživateli.

[2019-12-27 14:04] ShadyMedic opened #116 "V předmětech e-mailů je špatná webová adresa"
V e-mailech je stále uvedena stará adresa webu (poznavacky.chytrak.cz).
To se musí opravit nebo v ideálním případě úplně obejít.

[2019-12-27 17:11] eksyska opened #117 "volitelné barevné schéma"
přidat funkci, díky které by si každý uživatel mohl vybrat z více barevných schémat

[2019-12-27 17:26] ShadyMedic commented on #117
Vývoj bude probíhat na větvi _themes_

[2019-12-27 20:00] ShadyMedic commented on #114
PHP skripty byly upraveny a do databáze byly přidány i spouště, které některé soubory pracující s obrázky zkrátily ještě více (viz commit messages).
Odkaz na pull request: #118.

[2019-12-27 20:00] #114 closed, assigned to ShadyMedic

[2019-12-28 14:35] ShadyMedic commented on #117
Funkčnost je zařízena (viz commit messages u commitů ec50720b6ac886eca36f8afcccfc9d9c6f1f1db2 .. af20726576108478513b509ed2c6dca98c6201e1).
Čeká se na správné nastavení barev a obrázků v themes.xml na větvi _themes_.

[2019-12-28 14:37] ShadyMedic commented on #116
Jde se na to.
Oprava bude provedena na větvi _email-subject-fix_

[2019-12-28 15:16] ShadyMedic commented on #116
Hotovo.
Odkaz na pull request: #121.

[2019-12-28 15:16] #116 closed, assigned to ShadyMedic

[2019-12-28 15:21] ShadyMedic commented on #115
Jde se na to.
Vývoj bude probíhat na větvy _changelog-condition_.

[2019-12-28 22:15] ShadyMedic commented on #117
Dokončeno.
Odkaz na pull request: #122.

[2019-12-28 22:15] #117 closed, assigned to eksyska

[2019-12-29 09:37] ShadyMedic commented on #115
Hotovo.
Odkaz na pull request: #123.

[2019-12-29 09:37] #115 closed, assigned to ShadyMedic

[2019-12-29 13:31] ShadyMedic commented on #89
Jde se na to.
Vývoj bude probíhat na větvi _menu-removal_.

[2019-12-30 18:58] ShadyMedic commented on #89
Hotovo.
Menu stránka byla odstraněna a tabulka na list.php vylepšena.
Odkaz na pull request: #128.

[2019-12-30 18:58] #89 closed, assigned to ShadyMedic

[2019-12-30 21:57] ShadyMedic opened #130 "Přidat archiv changelogů"
Měla by se udělat složka, ve které by se skladovaly staré changelogy.
Při přihlášení po delší době by se na list.php vypsali všechny changelogy, které se uživateli nezobrazily.

[2019-12-30 22:00] ShadyMedic opened #131 "Přidat formulář pro zadání kódu třídy"
Kód třídy by se měl už konečně začít využívat.
Na list.php by se měla přidat možnost zadat kód třídy, čímž by se daná třída uživateli odemknula.
Všechny třídy s kódem jiným než 0 by byly zpočátku zamčené a uživetel by do nich neměl přístup.

[2020-01-01 15:42] ShadyMedic opened #133 "Na list.php lze vybrat učení se i zkoušení ze všech částí, i pokud nejsou nahrané obrázky"
Při výběru části na list.php se po kliknutí na "Vše" zobrazí všechna tlačítka jako zapnutá, i když v celé poznávačce není jediný obrázek.

[2020-01-01 15:45] ShadyMedic opened #134 "U částí s víceciferným ID se při výběru všech částí v poznávačce vybere špatná část"
Vypadá to, jako by se četla pouze první číslice, takže při výběru částí 10,11,12 se zjistí ID poznávačky, do které patří část s ID 1.

[2020-01-01 15:59] ShadyMedic commented on #133
Oprava proběhne na větvi _3.2-patch_, společně s opravou #134.

[2020-01-01 16:23] ShadyMedic commented on #133
Opraveno v tomto commitu: https://github.com/HonzaSTECH/Poznavacky/commit/864e0a8e452aeac3279cd12741d5f4e40bf55144

[2020-01-01 16:23] #133 closed, assigned to ShadyMedic

[2020-01-01 16:24] ShadyMedic commented on #134
Oprava bude provedena na větvi 3.2-patch, společně s již opravou již vyřešeného bugu popsaného zde: #133.

[2020-01-01 17:55] eksyska opened #135 "při nepovedeném přidání obrázku vymazat obsah textového pole"
pokud někdo přidává obrázek, který už je přidaný, odkaz na něj se ani po vyskakovací hlášce nevymaže --> uživatel to musí udělat sám, což může být zdržující

[2020-01-01 18:58] ShadyMedic commented on #134
Opraveno v tomto commitu: https://github.com/HonzaSTECH/Poznavacky/commit/a234f05c84c25306f61519395497bc1820dcda9b

[2020-01-01 18:58] #134 closed, assigned to ShadyMedic

[2020-01-01 19:05] ShadyMedic commented on #135
Bude provedeno na větvi _url-reset_.

[2020-01-01 19:23] ShadyMedic commented on #135
Hotovo.
Odkaz na pull request: #137.

[2020-01-01 19:23] #135 closed, assigned to ShadyMedic

[2020-01-01 21:32] ShadyMedic commented on #39
@eksyska Co si myslíš, o téhle fíčuře? Proky to navrhnul hodně dávno a nevím, jestli to má nějaký smysl.

[2020-01-01 21:39] ShadyMedic opened #139 "Opravit přičítání obrázků"
Z nějakého důvodu se nepřičítají uhodnuté obrázky po správném zodpovězení otázky v testu.
Problém bude nejspíše někde v souboru php/ajax/testAnswerCheck.php.

[2020-01-02 11:01] ShadyMedic commented on #139
Opraveno na větvi testAnswerCheck.php společně s několika dalšími bugy v tomtéž souboru (viz commit message).
Odkaz na pull request: #140.

[2020-01-02 11:01] #139 closed, assigned to ShadyMedic

[2020-01-02 13:56] ShadyMedic opened #142 "Vyřešit vznik konfliktů mezi poznávačkami patřících do různých tříd."
V databázi vznikají konflikty, které způsobují řadu potíží.
Jedna přírodnina se stejným názvem se nesmí v databázi vyskytovat vícekrát (s různým ID).
Jeden obrázek se stejným zdrojem se nesmí v databázi vyskytovat vícekrát (s různým ID).

Každý obrázek může patřit pouze do jedné části a každá přírodnina také.

[2020-01-02 14:18] ShadyMedic commented on #142
Jako řešení se zruší vyhledávání obrázku podle zdroje a přírodniny podle názvu. V obou případech se bude muset vyhledávat podle ID a/nebo podle id části, do které daná přírodnina nebo obrázek patří.

Vývoj bude probíhat na větvi _db-conflicts-fix_.

[2020-01-02 15:39] ShadyMedic commented on #142
Přidávání obrázků je již nekonfliktní, ale lze přidat jeden stejný obrázek vícekrát do jedné poznávačky (ne části).
Například obrázek _www.example.com/fly.jpeg_ může být přidán k přírodnině v části X jménem _Moucha_ a zároveň k přírodnině v části Y (která je ve stejné poznávačce jako přírodnina X) jménem _Masařka_.
Stejně tak ale lze přidat tentýž obrázek do dvou různých částí, z nichž každá obsah

[2020-01-02 17:22] ShadyMedic commented on #142
Tak jsem to nakonec vypnul - nejde přidávat obrázek, který je již v jiné části stejné poznávačky. Kdyžtak se může revertnout tenhle commit, aby to zase šlo: 363b18858418134ad7153d83e41ef753a3c8c2dc

[2020-01-02 20:23] #39 closed, assigned to nobody

[2020-01-06 20:11] eksyska commented on #94
vývoj probíhá na větvi _management_

[2020-01-11 15:17] ShadyMedic commented on #142
Všechny skripty pracující s obrázky nebo hlášeními byly upraveny tak, aby se obrázky identifikovali podle jejich ID, případně podle kombinace jejich zdroje a ID části, do které patří.
Různé skripty byly jednotlivě otestovány, ale až čas ukáže, jestli celý systém funguje v praxi.
Odkaz na pull request: #143.

[2020-01-11 15:17] #142 closed, assigned to ShadyMedic

[2020-01-11 15:50] ShadyMedic opened #144 "Souhrn pro přidání soukromých tříd"
Každá třída bude mít svého správce. Správcem třídy se stane člověk, který zažádá o její založení pomocí formuláře, který bude vytvořen na list.php.

Administrátor každé třídy bude mít možnost spravovat poznávačky, které do ní patří a přidávat nové. Také bude mít možnost měnit kód třídy, popřípadě třídu uzamknout jeho odstraněním, nebo jí naopak udělat veřejnou.

Také by se mohla přidat funkce pozv

[2020-01-11 16:04] ShadyMedic commented on #131
Na list.php bude přidán formulář pro zadání kódu zamčené třídy.

[2020-01-11 16:05] ShadyMedic commented on #144
Vývoj celé funkce bude probíhat na větvi _private-classes_.

[2020-01-11 16:09] ShadyMedic opened #145 "Uzamknout třídy s kódem"
Třídy, které mají nastavený kód by se měli zamknout pro uživatele, kteří nebudou mít v databázi nastaveno, že kód zadali.

Kontrolovat se to bude na všech stránkách vyžadujících vstup do třídy (třeba learn.php).

[2020-01-11 16:11] ShadyMedic opened #146 "Přidat formulář na založení třídy"
Na list.php by se měl přidat formulář na založení třídy.

Formulář odešle e-mail na e-mailovou adresu služby, kde se žádost zpracuje.

[2020-01-11 16:15] ShadyMedic commented on #146
Bude přidáno na větvi _new-class-form_.

[2020-01-12 10:04] ShadyMedic commented on #146
Formulář přidán a zprovozněn, čeká se na jeho nastylování.
Odkaz na commit: https://github.com/HonzaSTECH/Poznavacky/commit/92268491e950f087eb05049b3185b92c833cc105

[2020-01-12 12:00] ShadyMedic commented on #146
Formulář přidán a nastylován.
Odkaz na pull request: #147

[2020-01-12 12:00] #146 closed, assigned to ShadyMedic, eksyska

[2020-01-12 12:07] ShadyMedic commented on #131
Přidání formuláře proběhne na větvi _class-code-form_.

[2020-02-02 09:57] ShadyMedic commented on #131
Hotovo.
Odkaz na pull request: #148

[2020-02-02 09:57] #131 closed, assigned to ShadyMedic

[2020-02-02 17:45] ShadyMedic commented on #145
Jde se na to.
Vývoj bude probíhat na větvi _class-restrictions_.

[2020-02-04 20:52] ShadyMedic commented on #145
Hotovo
Odkaz na pull request: #149

[2020-02-04 20:52] #145 closed, assigned to nobody

[2020-02-04 20:56] ShadyMedic opened #150 "Přidat stránku "Správa třídy""
Na stránku povede odkaz tabulky tříd na list.php
Tlačítko s odkazem se zobrazí místo vstupního kódu, který bude z tabulky odstraněn u všech tříd.

[2020-02-04 20:57] ShadyMedic commented on #150
Vývoj bude probíhat na větvi _class-management_.

[2020-02-13 15:21] ShadyMedic commented on #150
Na stránce je již funkční změna jména třídy, jejího stavu, správa členů (u soukromých a uzamčených tříd), posílání pozvánek do tříd (kromě soukromých), přidávání poznávaček a jejich mazání.
Zbývá již pouze přidat funkci pro úpravu poznávaček. Tato větev tak bude řešit několik bodů popsaných v #144 najednou.

Stránka nyní může být nastylována (@eksyska).

[2020-03-06 22:06] ShadyMedic opened #153 "Zobrazovat zdroj obrázků"
Na _learn.php_ a _test.php_ by se někde měl zobrazovat alespoň zdroj obrázků. Pokud by se náhodou někdy začal někdo ozývat ohledně autorských práv, tak budeme mít alespoň pokryté obrázky šiřitelné pod creative commons.

Vzhledem k tomu, že zdroj obrázku často obsahuje název zobrazené přírodniny, zobrazoval by se na _test.php_ až v okamžiku, kdy je odeslána odpověď.

[2020-03-08 12:49] ShadyMedic opened #154 "Změnit v databázi typ pole v tabulce "hlaseni""
V databázi by se měl v tabulce "hlaseni" změnit typ pole "duvod" z TINYINT(3) na ENUM(...), přičemž hodnoty výčtu by byly slovní popisy hlášení. Dost by se tím usnadnilo vypisování důvodů ve správě hlášení.

[2020-04-05 09:20] eksyska opened #155 "modernizace vzhledu stránek"
Stránky jsou responzivní, ale designově ne úplně moderní. Je třeba vymyslet a implementovat nový design. Také by bylo vhodné začít psát styly v Sassu.

[2020-04-10 17:13] ShadyMedic commented on #144
Vývoj celé skupiny funkcí vztahujících se k soukromým třídám je pozastaven z důvodu potřeby přespat celou aplikaci do objektově orientované architektury.

[2020-04-10 17:14] ShadyMedic commented on #150
Vývoj této funkce byl pozastaven společně s ostatními funkcemi vztahujícími se k soukromým třídám.
Pro více informací viz https://github.com/HonzaSTECH/Poznavacky/issues/144#issuecomment-612126982

[2020-04-14 08:21] eksyska commented on #94
hotovo

EDIT: Odkaz na pull request: #158

[2020-04-16 21:04] #94 closed, assigned to eksyska

[2020-04-16 21:15] ShadyMedic opened #159 "Přepsat celou aplikace do objektového stylu"
Jak se aplikace rozrostla, začala být poměrně nepřehledná. V mnoha skriptech se opakuje ten samý kód pořád dokola, začíná být chaos v tom, co na čem závisí a pokud by to takto pokračovalo dál, bude nemožné aplikace nadále efektivně rozšiřovat.

Proto jsem se rozhodl celou architekturu předělat a přepsat aplikace do objektově-orientovaného stylu.
To bude trvat delší dobu, ale vzhled stránek by to n

[2020-10-10 20:07] eksyska opened #182 "Zobrazování tipů novým uživatelům"
Nově zaregistrovaným uživatelům by se měly na jednotlivých stránkách zobrazovat tipy popisující, jak danou funkci využívat.
To, aby se tipy nezobrazovaly stále dokola, by se dalo zajistit pomocí cookies (při registraci by se vytvořil cookie "zobrazuj tipy", který by se následně mohl smazat)

[2020-10-15 17:49] pervoj opened #184 "Návrh na přidání do README návod k instalaci na vlastním serveru"
Do souboru README.md by mohl být přidán návod na instalaci na vlastním serveru. Při pokusu o spuštění vyběhla hláška *Couldn't set the charset to utf8*

[2020-10-15 18:55] ShadyMedic commented on #184
Děkujeme za návrh, ale nemáme za příliš žádoucí, aby si mohl Poznávačky rozeběhnout každý uživatel internetu. Ne tolik kvůli spouštění na lokálních serverech, ale kvůli vytváření sesterských online serverů, na kterých by Poznávačky běželi bez našeho svolení a vydělávali peníze z reklamy někomu jinému.

Pro spuštění na lokálním serveru možná vydáme nějaký interní návod, který zpřístupníme pouze kon

[2020-10-15 18:55] #184 closed, assigned to nobody

[2020-11-28 19:39] ShadyMedic commented on #154
Vyřešeno během přepisování aplikace do objektového stylu.
https://github.com/HonzaSTECH/Poznavacky/issues/159

[2020-11-28 19:39] #154 closed, assigned to nobody

[2020-11-28 19:41] ShadyMedic commented on #95
Po přehodnocení tato funkce nebude přidána, jelikož správce třídy bude moci spravovat všechny obrázky třídy namísto uživatele, který je přidal.

[2020-11-28 19:41] #95 closed, assigned to nobody

[2021-01-16 22:20] ShadyMedic commented on #144
Tato funkce byla přidána na větvi _app-restructuring_ a _views_ a bude publikována ve velkém updatu verze **4.0**

[2021-01-16 22:20] #144 closed, assigned to nobody

[2021-01-16 22:23] ShadyMedic commented on #150
Issue uzavřeno ze stejného důvodu jako #144. Viz https://github.com/HonzaSTECH/Poznavacky/issues/144#issuecomment-761689021

[2021-01-16 22:23] #150 closed, assigned to ShadyMedic, eksyska

[2021-01-16 22:48] ShadyMedic commented on #159
Aplikace je již přepsána do objektového stylu a nyní se již finišuje a přidávají se funkce, které by uživatelům v případě absence chyběly. Jedná se například o lepší chybové stránky. Dále se obnovují funkce, které museli být při přestavbě systému zahozeny, například funkce changelogu nebo pozvánek.

Očekávání, že se bude měnit pouze backend se ukázala jako naprosto mylná, ohromnou změnou prošel i

[2021-01-20 10:44] ShadyMedic commented on #66
Issue uzavřeno ze stejného důvodu jako #144. Viz https://github.com/HonzaSTECH/Poznavacky/issues/144#issuecomment-761689021

[2021-01-20 10:44] #66 closed, assigned to nobody

[2021-04-17 07:25] ShadyMedic commented on #155
Vývoj probíhal (spolu se spoustou dalších věcí týkajících se frontendu) na větvi `views` a změny budou sloučeny do větve `master` společně se všemi ostatními změnami pro verzi `4.0`.
Seznam dalších změn zde: #159

[2021-04-17 07:25] #155 closed, assigned to eksyska

[2021-04-17 07:27] ShadyMedic commented on #159
Všechny hlavní změny jsou provedeny. Větev `app-restructuring` byla sloučena do větve `development`. Po provedení finálních změn, jako je automatické vyčištění kódu a odstranění nepotřebných souborů bude tato větev sloučena do větve `master`.

[2021-04-20 17:25] #159 closed, assigned to ShadyMedic

[2021-04-20 18:18] ShadyMedic commented on #182
Při přestavbě systému bylo věnováno mnoho úsilí do jednoduchosti a srozumitelnosti systému, a tak nepovažujeme další tipy za nutné.

[2021-04-20 18:18] #182 closed, assigned to nobody

[2021-05-03 10:06] pervoj opened #207 "Chyba po vytvoření třídy"
**Popište chybu**

Nějakou dobu po vytvoření třídy přišel email s tím, že byla vytvořena. Ovšem v seznamu tříd se pořád nezobrazuje a po použití odkazů z emailu dochází k smyčkám při přesměrování.

**Jak vyvolat chybu**

Návod jak vyvolat chybu:
1. Odeslat žádost o vytvoření třídy
2. Počkat na email
3. V seznamu třída nebude a po kliknutí na odkazy z emailu dojde ke smyčce při přesměrování

**Před

[2021-05-03 10:10] ShadyMedic commented on #207
Ups, moje chyba. Zapomněl jsem nastavit členství ve třídě pro správcovský účet. Zkus to teď.

[2021-05-03 10:11] pervoj commented on #207
Funguje, díky :)

[2021-05-03 10:17] #207 closed, assigned to nobody

[2021-05-03 12:21] pervoj opened #208 "Automatické přesměrování z HTTP na HTTPS"
Snad poslední issue... Web sice používá HTTPS, ale jen v případě, že se přejde přímo na stránku [https://poznavacky.com](https://poznavacky.com/), když přejdete na [http://poznavacky.com](http://poznavacky.com/), nedojde k přesměrování na HTTPS. Přihlášení na této adrese by mohlo být potenciálně nebezpečné. K opravě stačí přidat [pár řádků do `.htaccess`](https://www.freecodecamp.org/news/how-to-r

[2021-05-03 13:32] ShadyMedic commented on #208
V `.htaccess` už nějaké přesměrování mám nakonfigurované (viz [současnou verzi](https://github.com/HonzaSTECH/Poznavacky/blob/patch-4.0-3/.htaccess)) Nemůže tam vzniknout nějaký konflikt? V konfiguraci Apache se vůbec nevyznám.

[2021-05-03 15:30] pervoj commented on #208
Já popravdě taky ne...

Myslím si, že pokud se přesměrování na HTTPS provede hned na začátku, že by neměl. Nejsem si jistý, ale asi je to to nejlogičtější vysvětlení. Zkusil bych to takhle:

[code]

Už jenom doufám, že ti to tím nerozbiju... :)

[2021-05-03 16:28] ShadyMedic commented on #208
Zkusím to. Díky.

[2021-05-04 08:05] ShadyMedic commented on #208
Vyřešeno pomocí PHP v souboru `index.php` (viz https://github.com/HonzaSTECH/Poznavacky/commit/fd7077cae22a284abd9f38d98555e38b93183a94, řádky 33-41)

Soubory získávané `GET` metodou mající přípony `css`, `js`, `txt`, `ico` `xml`, `svg`, `gif`, `png`, `jpg` mohou být nadále získávány skrze nezabezpečené připojení, ale to by snad neměl být problém.

Změny byly okamžitě nahrány na server.

[2021-05-04 08:05] #208 closed, assigned to nobody

[2021-05-05 09:26] ShadyMedic opened #211 "Možnost nahrávat obrázky"
Bylo by fajn přidat možnost přidávat do poznávaček/částí obrázky, které nejsou hostované na internetu, ale které byly pořízeny uživatelem.

Takové obrázky by se nahrávali na server a byly by ukládány v oddělené složce a zálohovány společně s databází.

U takovýchto obrázků by nebyl ani problém s autorskými právy.

[2021-05-05 09:32] ShadyMedic commented on #130
Do changelogu bude pouze přidán odkaz, který bude vypadat a fungovat takto:
[Zobrazit starší seznamy změn](https://github.com/HonzaSTECH/Poznavacky/releases)

[2021-05-05 11:51] pervoj commented on #211
Možná by šlo k hostování použít již existující službu. Obrázky by tak nemusely zabírat místo na stejném hostingu, jako aplikace.

ImgBB je skvělá služba ke skladování obrázků a má i [veřejné API](https://api.imgbb.com/). K nahrávání používá [Base64](https://cs.wikipedia.org/wiki/Base64). Do něj jde v PHP [převést i binární soubor](https://www.geeksforgeeks.org/how-to-convert-an-image-to-base64-enc

[2021-05-05 12:49] ShadyMedic commented on #211
Díky za návrh. Uvidíme, jestli to ušetří nějakou práci, když tak bychom to použili. Jde tady i o to, že v budoucnu bychom chtěli nějak zvlášť skladovat všechny přidávané obrázky (automaticky by se stahovaly ze zadaných URL adres), abychom nezatěžovali cizí servery a zároveň byly imunní proti mazání obrázků ze serverů třetích stran. Nahrávat na jiný, cizí, server i tyto obrázky by asi nebylo úplně

[2021-05-05 16:11] ShadyMedic opened #212 "Umožnit přejmenovávat složky pouze změnou velikosti písmen"
Při změně velikosti písmen bez změny ostatních prvků názvů je navrácena chyba, že třída/poznávačka/část se stejným nebo podobným názvem již existuje, protože nový název má stejnou URL reprezentaci, jako ten starý.

[2021-05-09 19:23] ShadyMedic commented on #212
Stejný problém se vyskytuje v případě přidání, odebrání nebo nahrazení nepísmeného znaku (u nahrazení pouze při nahrazení jiným nepísmeným znakem).

Tím se myslí například záměna spojovníku za mezeru nebo obráceně, odebrání přebytečné mezery a tak podobně.

[2021-05-09 20:12] ShadyMedic opened #213 "Nezobrazování formulářů, není-li přístupná žádná třída"
Pokud uživatel nemá přístup do žádné třídy, nezobrazují se elementy s pozvánkami, s formulářem pro zadání kódu třídy a s formulářem pro odeslání žádosti o vytvoření nové třídy.

[2021-05-11 15:36] ShadyMedic opened #214 "Tlačítko pro odeslání obrázku se nevypíná"
Po úspěšném přidání obrázku se sice vymaže náhled a pole pro zadání URL, ale tlačítko `Přidat obrázek` se nevypne.

[2021-05-12 14:42] ShadyMedic opened #215 "Přidat poznámku, aby se do názvu třídy zahrnul i název školy"
Ve formuláři pro zažádání o založení nové třídy by měla být poznámka, který by uživatelům řekla, ať do názvu třídy zkusí zahrnout i název školy. Jinak mají uživatelé sklon odesílat žádosti o založení tříd s názvy jako `Sekunda`, což povede ke konfliktům v názvech.

[2021-05-12 16:46] ShadyMedic commented on #214
Oprava provedena na větvi _add-pictures-fixes_ společně s vývojem dalších menších vylepšení.

[2021-05-12 17:46] #214 closed, assigned to ShadyMedic

[2021-05-12 18:45] ShadyMedic commented on #215
Vývoj probíhá na větvi `menu-classes-page-fixes`.

[2021-05-12 18:58] ShadyMedic commented on #213
Vývoj probíhá na větvi `menu-classes-page-fixes` společně s vývojem #215.

[2021-05-12 19:00] ShadyMedic opened #217 "Po úpravě poznávačky se virtuálně vynuluje počet obrázků v části"
Žádné obrázky nezmizí, stejně tak u jednotlivých přírodnin zůstanou počty v pořádku, ale u částí dojde k jejich vynulování. Toto je spraveno při první automatické údržbě databáze, ale v mezičase to působí divně.

[2021-05-12 19:13] #213 closed, assigned to nobody

[2021-05-12 19:14] #215 closed, assigned to nobody

[2021-05-13 22:05] ShadyMedic opened #219 "Přidat do všech e-mailů odkaz pro zrušení odběru"
Odkaz nemusí dělat nic složitého, úplně bude stačit, když po kliknutí na něj dojde k odebrání e-mailové adresy z databáze. Uživatel, který ji tak používá bude mít účet bez e-mailové adresy a bude ji moci kdykoliv znovu přidat.

Asi by bylo lepší, kdyby odkaz uživatele nejprve navedl na potvrzovací stránku, kde si přečte co se přesně stane a potvrdí odhlášení odběru.

Toto úplně neřeší problém, že

[2021-06-24 19:13] ShadyMedic opened #221 "Špatný nadpis formuláře pro zrušení třídy"
Formulář je nadepsán "Zrušení účtu", ačkoliv by tam mělo být spíše "Zrušení třídy".

[2022-01-27 13:02] ShadyMedic commented on #221
Vyřešeno v #230.

[2022-01-27 13:02] #221 closed, assigned to nobody

[2022-01-27 13:03] ShadyMedic commented on #211
ImgBB jsem zkusil používaj jako externí zdroj obrázků pro poznávačku histologických preparátů, ale bohužel servíruje obrázky příliš pomalu.

[2022-01-27 13:17] ShadyMedic commented on #130
Řeší se v #231.

[2022-02-05 10:30] ShadyMedic commented on #130
Hotovo

[2022-02-05 10:30] #130 closed, assigned to nobody

[2022-09-10 14:19] eksyska opened #241 "Přidat režim chytrého testování"
Kromě procvičování (nekonečné testování fungující už teď) bude přidána možnost vygenerování testu s daným počtem přírodnin. Aplikace bude zobrazovat progres testu, na konci bude jeho vyhodnocení a možnost opravit si přírodniny, které uživatel během testu pojmenoval špatně, aby se je lépe naučil. Také bude možnost projít si všechny obrázky přírodnin i s jejich názvy, které v testu byly.

Prvotní ná

[2022-09-10 14:21] eksyska opened #242 "Přidat tmavý režim"
V nastavení účtu bude možnost přepínat mezi světlým a tmavým režimem.

[2022-09-10 15:56] ShadyMedic opened #243 "Možnost stáhnout poznávačku pro offline použití"
Stažený soubor by byl ZIP archiv obsahující stránku pro učení se a všechny obrázky z dané poznávačky.

Stránka by byla čistý front-end (HTML) bez PHP a JavaScript by se staral o načítání obrázků z lokální složky a ne ze serveru.

Pochopitelně by nefungovalo nahlašování obrázků, avšak možná by mohla být přítomna funkce pro odstraňování obrázků.

Seznam přírodnin a obrázků by byl k dispozici jako CS

[2022-09-10 15:57] ShadyMedic commented on #219
V e-mailech nebude odkaz pro odhlášení odběru kvůli mizivému počtu rozesílaných e-mailů, avšak bude v něm zmínka, proč e-maily chodí a jak je možné je zastavit.

[2022-09-10 16:22] ShadyMedic opened #244 "Zobrazení zalogovaných chyb v systémové administraci"
Systémoví administrátoři by mohli mít možnost zobrazit seznam zalogovaných chyb přímo v administraci a nemuseli by tak vždy jít přes FTP.

V administraci bude nějaké tlačítko "Získat nové chyby". Po kliknutí na toto tlačítko se načte obsah souboru `log/errors.log` a zpracuje se do databázových dat. V databázi bude vytvořena nová tabulka, do které se načtené chyby budou ukládat.

Chyby překopírovan

[2022-09-10 16:55] eksyska opened #245 "Nastavení přístupnosti veřejné třídy"
U veřejné třídy by mělo být možné nastavit, kdo do ní může přidávat obrázky a kdo ji má pouze na prohlížení.

[2022-11-26 22:19] ShadyMedic commented on #244
Hotovo, z nějakého důvodu se toto nevyřešilo s mergnutím #246

[2022-11-26 22:19] #244 closed, assigned to ShadyMedic, eksyska

[2022-11-28 20:18] ShadyMedic commented on #245
Vývoj probíhá na větvi `public-class-settings`.

[2022-11-29 17:14] ShadyMedic commented on #245
Přidáno v #252

[2022-11-29 17:14] #245 closed, assigned to ShadyMedic, eksyska